/* You can add global styles to this file, and also import other style files */
.page-container{
  width: 100%;
  height: 100%;
  padding: 30px 48px;
  .ant-breadcrumb{
    color: #929090 !important;
  }
  .ant-breadcrumb-separator{
    color: #929090 !important;
  }
  .final{
    color: white !important;
  }
  .content{
    width: 100%;
    height: calc(100% - 48px);
    margin-top: 26px;
    display: flex;
    background: #17202a;
    flex-wrap: wrap;
    .header{
      width: 100%;
      height: 60px;
      padding: 0 16px ;
      border-bottom: 1px solid #4b4a4a;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .title{
        font-size: 18px;
        color: white;
        
      }
      .header-action{
        display: flex;
      }
    }
    .content-container{
      width: 100%;
      padding: 16px;
      height: calc(100% - 60px);
      overflow: auto;
    }
  }
}

.description-container{
  .description{
    font-size: 10px;
    margin-top: 8px;
  }

}
.ant-steps-item-title{
  height: 48px;
  font-size: 12px !important;
  line-height: 14px;
}
.ant-modal-content{
  background-color: #17202a !important;
  color: white;
}
.ant-modal-header {
  background-color: #17202a !important;

}
.ant-modal{
  width: 1000px !important;
}
.pointer{
  cursor: pointer;
}
.ant-collapse-header{
  font-family: -apple-system, BlinkMacSystemFont !important;
}
.ant-divider{
  margin: 1px 0 !important;
  
}
.ant-collapse-borderless > .ant-collapse-item {
  border: none !important;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  border-bottom: 1px solid #434343;
  border-right: 1px solid #434343;
  border-left: 1px solid #434343;


}
.input-collapse{
  
  .ant-collapse-header{
    padding: .375rem 1rem !important;
    font-size: 15px !important;
    line-height: 20px !important;
    border: 1px solid #434343;
  }
  
}
.output-collapse{
  
  .ant-collapse-header{
    padding: .375rem 1rem !important;
    font-size: 15px !important;
    line-height: 20px !important;
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
    border-bottom: 1px solid #434343;


  }
  
}
pre {
  margin-bottom: 0 !important;
}
.ant-steps-item-title{
  width: 100%;
  height: auto;
}
.ant-divider-with-text{
  font-size: 14px !important;
}