<nz-collapse nzExpandIconPosition="right">
  <nz-collapse-panel *ngFor="let childItem of children;let index = index" [nzHeader]="childrenTitleComponent" [nzActive]="false">
    <ng-template #childrenTitleComponent>
      <div style="display: block;width: 100%;">
        <div style="display: flex;background: #202932;justify-content: space-between;">
          <div style="display: block;">
            <div style="display: flex;">
              Step {{parentIndex}}{{index+1}}: 
              <span nz-icon *ngIf="childItem.status == 'In Progress'" style="margin: 4px;" [nzType]="'loading'"></span>
              <span nz-icon *ngIf="childItem.status == 'Need to check'" style="color: rgb(255,205,0);margin: 4px;" nzType="exclamation-circle" nzTheme="fill"></span>
              <span nz-icon nzType="check-circle" style="color: green;margin: 4px;" *ngIf="childItem.status == 'Finished'"  nzTheme="fill"></span>
              <span nz-icon nzType="clock-circle" style="margin: 4px;" *ngIf="childItem.status == 'Waiting'"nzTheme="outline"></span>
              <span nz-icon nzType="close-circle" *ngIf="childItem.status == 'Failed'" style="color: rgb(255,73,68);margin: 4px;" nzTheme="fill"></span>
              {{childItem.name}}
            </div>
            <div style="font-size: 10px;color: #9c9c9c">
              Description: {{childItem.description}}
            </div> 
          </div>
          <div>
            <div style="font-size: 12px;line-height: 23px;">
              Start Time: {{childItem.startTime}}
            </div>
            <div *ngIf="childItem.finishTime" style="font-size: 12px;line-height: 23px;">
              Finish Time: {{childItem.finishTime}}
            </div>
          </div>
        </div>
        
        
        
        <nz-divider *ngIf="childItem.summary" nzText="Result Summary"></nz-divider>
        <div *ngIf="childItem.summary" style="white-space: pre-wrap;font-size: 10px;">
          {{childItem.summary.trim()}}
        </div>
      </div>
    </ng-template>
    <pre *ngIf="childItem.children && childItem.children.length > 0">
      <app-task [parentIndex]="parentIndex + (index+1) + '-'" [children]="childItem.children"></app-task>
    </pre>
    
    <nz-collapse [nzBordered]="false" *ngIf="childItem.input">
      <nz-collapse-panel nzHeader="Input" *ngIf="childItem.input" [nzActive]="false">
        <pre style="white-space: pre-wrap;font-size: 10px;">{{childItem.input}}</pre>
      </nz-collapse-panel>
      <nz-collapse-panel nzHeader="Output" *ngIf="childItem.output" [nzActive]="false">
        <pre style="white-space: pre-wrap;font-size: 10px;">{{childItem.output}}</pre>
      </nz-collapse-panel>
    </nz-collapse>
    <pre style="white-space: pre-wrap;font-size: 14px;margin-top: 20px;" *ngIf="childItem.output">Result Detail:</pre>

    <pre style="white-space: pre-wrap;font-size: 10px;" *ngIf="childItem.output">{{childItem.output}}</pre>

    <nz-spin nzSize="large" *ngIf="childItem.status=='In Progress'" nzSimple style="width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;"></nz-spin>
  </nz-collapse-panel>
</nz-collapse>